# This git branch (sync_with_sourceforge) exists solely for running Git Action
# if re-run of workflow is not visible, updating and commiting workflow file should help to get re-run back
name: sync_with_sourceforge_net_workflow

env:
  GITHUB_BRANCH_TO_BE_SYNC: master_sync

on:
  workflow_dispatch:
  push:
    branches:
      - sync_with_sourceforge

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      #############################
      # 1. Checkout full repo
      #############################
      - name: Checkout master with full history
        uses: actions/checkout@v4
        with:
          ref: master
          fetch-depth: 0     # Full history = required
          persist-credentials: false

      ###################################
      # 2. Fetch the sync branch (origin)
      ###################################
      - name: Fetch master_sync branch from origin
        run: |
          git fetch origin ${GITHUB_BRANCH_TO_BE_SYNC}:${GITHUB_BRANCH_TO_BE_SYNC} || \
          git checkout -b ${GITHUB_BRANCH_TO_BE_SYNC}       # if branch doesn't exist remotely

      ###################################
      # 3. Add & fetch SourceForge remote
      ###################################
      - name: Add SourceForge remote
        run: git remote add sourceforge git://git.code.sf.net/p/log4cpp/codegit

      - name: Fetch SourceForge branches
        run: git fetch sourceforge

      ###################################
      # 4. Rebase sync branch onto upstream
      ###################################
      - name: Update sync branch with SourceForge master
        run: |
          git checkout ${GITHUB_BRANCH_TO_BE_SYNC}
          git rebase sourceforge/master

      ###################################
      # 5. Merge sync into local master
      ###################################
      - name: Merge sync branch into GitHub master
        run: |
          git checkout master
          git merge ${GITHUB_BRANCH_TO_BE_SYNC}

      ###################################
      # 6. Push results back to GitHub
      ###################################
      - name: Push updated master to GitHub
        run: |
          gh auth setup-git
          git push origin master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
